<div class="mx-12">
<h1 class="my-24 text-center text-xl">Latest Art Pieces</h1>
<div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
  <div class="relative group">
    <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3" src="/art1.jpg" alt="art1">
    <div class="absolute left-0 top-0 w-full h-full rounded-lg bg-zinc-500 opacity-10 transition-all group-hover:translate-x-4"></div>
  </div>
  <div class="relative group">
    <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3" src="/art2.jpg" alt="art1">
    <div class="absolute left-0 top-0 w-full h-full rounded-lg bg-zinc-500 opacity-10 transition-all group-hover:translate-x-4"></div>
  </div>
  <div class="relative group">
    <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3" src="/art3.jpg" alt="art1">
    <div class="absolute left-0 top-0 w-full h-full rounded-lg bg-zinc-500 opacity-10 transition-all group-hover:translate-x-4"></div>
  </div>
  <div class="relative group">
    <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3" src="/art4.jpg" alt="art1">
    <div class="absolute left-0 top-0 w-full h-full rounded-lg bg-zinc-500 opacity-10 transition-all group-hover:translate-x-4"></div>
  </div>
</div>
</div>